---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Analista y programador",
    company: "Núcleo S.A.",
    description:
      "Análisis y desarrollo de un CRM propio de la empresa, con tecnologías como Angularjs, Java EE, postgresql.",
  },
  {
    date: "Abril 2023",
    title: "Programador backend",
    company: "Konecta",
    description:
      "Desarrollo de backend en Java EE, relevamiento de requerimientos y programación de servicios REST.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
