---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Analista — Desarrollador Full Stack",
    company: "Núcleo S.A.",
    description:
      "Análisis y desarrollo de un CRM propio de la empresa, con tecnologías como Angularjs, Java EE, postgresql.",
    tasks: [
      "Lidere el analisis y la planificación de requisitos de software, interactuando directamente con los interesados y redactando especificaciones técnicas y cronogramas de desarrollo",
      "Asigné tareas de desarrollo a programadores junior, asegurando la calidad mediante revisiones de código y orientación técnica",
      "Mantuve y mejoré sistemas heredados mediante refactorización de código, desarrollo de nuevos endpoints y resolución de errores críticos"
    ],
  },
  {
    date: "Abril 2023",
    title: "Programador backend",
    company: "Konecta",
    description:
      "Desarrollo de backend en Java EE, relevamiento de requerimientos y programación de servicios REST.",
    tasks: [
      "Desarrollé endpoints RESTful en Java y mantuve sistemas existentes para herramientas internas",
      "Implementé tecnología OCR REGULA para automatizar extracción de datos de cédulas",
      "Optimicé almacenamiento reduciendo uso de disco de 40GB a 8GB (80% menos)",
      "Realicé mantenimiento, corrección de errores y mejoras de rendimiento full-stack"
    ]
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
